<% include partials/header %>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<% campground.forEach(function(comment){ %>
    <p>
         <stong><%= comment.author %></stong> - <%= comment.text %>
    </p>
<% }) %>

<!--<%  %>-->

<% include partials/footer %>